node_modules
.git
.gitignore
README.md
Dockerfile
.dockerignore
npm-debug.log
.nyc_output
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.next
.vscode
.idea
docs
*.md
*.json.bak
*.html
*.py
*.ps1
scripts
