version: '3'
services:
  campman:
    image: ghcr.io/jonathanmkt/campman:latest
    networks:
      - Singanet
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 256M
      labels:
        - traefik.enable=1
        - traefik.http.routers.campman.rule=Host(`app.campman.com.br`)
        - traefik.http.routers.campman.entrypoints=websecure
        - traefik.http.routers.campman.priority=1
        - traefik.http.routers.campman.tls.certresolver=letsencryptresolver
        - traefik.http.routers.campman.service=campman
        - traefik.http.services.campman.loadbalancer.server.port=3000
        - traefik.http.services.campman.loadbalancer.passHostHeader=true
      placement:
        constraints:
          - node.role == manager
    environment:
      - NEXT_PUBLIC_SUPABASE_URL=${NEXT_PUBLIC_SUPABASE_URL}
      - NEXT_PUBLIC_SUPABASE_ANON_KEY=${NEXT_PUBLIC_SUPABASE_ANON_KEY}
      - SUPABASE_SERVICE_ROLE_KEY=${SUPABASE_SERVICE_ROLE_KEY}
      - NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=${NEXT_PUBLIC_GOOGLE_MAPS_API_KEY}
      - GOOGLE_MAPS_SERVER_API_KEY=${GOOGLE_MAPS_SERVER_API_KEY}

networks:
  Singanet:
    external: true
