version: '3'
services:
  campanha-thiago-moura:
    image: ghcr.io/jonathanmkt/campanha-thiago-moura:latest
    networks:
      - Singanet
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 256M
      labels:
        - traefik.enable=1
        - traefik.http.routers.campanha-thiago-moura.rule=Host(`app.thiagomoura.com.br`)
        - traefik.http.routers.campanha-thiago-moura.entrypoints=websecure
        - traefik.http.routers.campanha-thiago-moura.priority=1
        - traefik.http.routers.campanha-thiago-moura.tls.certresolver=letsencryptresolver
        - traefik.http.routers.campanha-thiago-moura.service=campanha-thiago-moura
        - traefik.http.services.campanha-thiago-moura.loadbalancer.server.port=3000
        - traefik.http.services.campanha-thiago-moura.loadbalancer.passHostHeader=true
      placement:
        constraints:
          - node.role == manager
    environment:
      - NEXT_PUBLIC_SUPABASE_URL=${NEXT_PUBLIC_SUPABASE_URL}
      - NEXT_PUBLIC_SUPABASE_ANON_KEY=${NEXT_PUBLIC_SUPABASE_ANON_KEY}
      - SUPABASE_SERVICE_ROLE_KEY=${SUPABASE_SERVICE_ROLE_KEY}
      - NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=${NEXT_PUBLIC_GOOGLE_MAPS_API_KEY}
      - GOOGLE_MAPS_SERVER_API_KEY=${GOOGLE_MAPS_SERVER_API_KEY}

networks:
  Singanet:
    external: true
