version: '3'
services:
  idealiscore:
    image: ghcr.io/jonathanmkt/idealiscore:latest
    networks:
      - Singanet
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 256M
      labels:
        - traefik.enable=1
        - traefik.http.routers.idealiscore.rule=Host(`app.idealiscore.com.br`)
        - traefik.http.routers.idealiscore.entrypoints=websecure
        - traefik.http.routers.idealiscore.priority=1
        - traefik.http.routers.idealiscore.tls.certresolver=letsencryptresolver
        - traefik.http.routers.idealiscore.service=idealiscore
        - traefik.http.services.idealiscore.loadbalancer.server.port=3000
        - traefik.http.services.idealiscore.loadbalancer.passHostHeader=true
      placement:
        constraints:
          - node.role == manager
    environment:
      - NEXT_PUBLIC_SUPABASE_URL=${NEXT_PUBLIC_SUPABASE_URL}
      - NEXT_PUBLIC_SUPABASE_ANON_KEY=${NEXT_PUBLIC_SUPABASE_ANON_KEY}
      - SUPABASE_SERVICE_ROLE_KEY=${SUPABASE_SERVICE_ROLE_KEY}
      - NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=${NEXT_PUBLIC_GOOGLE_MAPS_API_KEY}
      - GOOGLE_MAPS_SERVER_API_KEY=${GOOGLE_MAPS_SERVER_API_KEY}

networks:
  Singanet:
    external: true
