.background {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-image: url('/forgot-password-background-desktop.webp');
  background-size: cover;
  background-position: center;
}

@media (max-width: 1024px) {
  .background {
    background-image: url('/forgot-password-background-tablet.webp');
  }
}

@media (max-width: 640px) {
  .background {
    background-image: url('/forgot-password-background-mobile.webp');
  }
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
