.signupPageContainer {
  position: relative;
  background-image: url('/signup-background-desktop.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Media queries para responsividade */
@media (max-width: 1024px) {
  .signupPageContainer {
    background-image: url('/signup-background-tablet.webp');
  }
}

@media (max-width: 640px) {
  .signupPageContainer {
    background-image: url('/signup-background-mobile.webp');
  }
}

/* Animação para o subtítulo */
.animatedSubtitle {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.8s ease-out forwards;
  animation-delay: 0.7s;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
